name: CI
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
    tags:
      - "v?[0-9]+.[0-9]+.[0-9]+*"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  Checks:
    runs-on: UbuntuLatest32Cores128G
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/flake-checker-action@main
        if: ${{ success() || failure() }}
        with:
          fail-mode: true

      - uses: DeterminateSystems/nix-installer-action@main
        if: ${{ success() || failure() }}
        with:
          determinate: true

      - uses: DeterminateSystems/flakehub-cache-action@main
        if: ${{ success() || failure() }}

      - name: Go Formatting
        if: ${{ success() || failure() }}
        run: nix develop -c go fmt

      - name: Check diff
        if: ${{ success() || failure() }}
        run: git diff --exit-code

      - name: Go Vet
        if: ${{ success() || failure() }}
        run: nix develop -c go vet

      - name: Go Staticcheck
        if: ${{ success() || failure() }}
        run: nix develop -c staticcheck

      - name: Check Spelling
        if: ${{ success() || failure() }}
        run: nix develop --command codespell --ignore-words-list crate,pullrequest,pullrequests,ArchTypes --skip target,go.sum .

      - name: Check nixpkgs-fmt formatting
        if: ${{ success() || failure() }}
        run: git ls-files '*.nix' | nix develop --command xargs nixpkgs-fmt --check

      - name: Check EditorConfig conformance
        if: ${{ success() || failure() }}
        run: nix develop --command eclint

      # We only need to run on one system because we're mostly checking for a hash mismatch, which
      # would be present on any system
      - name: Nix build package
        if: ${{ success() || failure() }}
        run: nix build

      - name: Fix hash mismatches
        if: ${{ failure() && github.event_name == 'pull_request' }}
        id: fix-hashes
        run: |
          git stash --include-untracked
          git fetch --depth=1 origin "$GITHUB_HEAD_REF"
          git checkout -B "$GITHUB_HEAD_REF" "${{ github.event.pull_request.head.sha }}"

          determinate-nixd fix hashes --auto-apply

          if ! git diff --quiet; then
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git add --update --ignore-removal .
            git commit -m "[dependabot skip] Automatically fix Nix hashes"
            git push origin "$GITHUB_HEAD_REF"
          fi

          git checkout -
          git stash pop || true

  DeterminateCI:
    uses: DeterminateSystems/ci/.github/workflows/workflow.yml@main
    needs: Checks
    permissions:
      id-token: "write"
      contents: "read"
    with:
      visibility: public
      runner-map: |
        {
          "aarch64-darwin": "macos-latest-xlarge",
          "aarch64-linux": "UbuntuLatest32Cores128GArm",
          "i686-linux": "UbuntuLatest32Cores128G",
          "x86_64-darwin": "macos-latest-xlarge",
          "x86_64-linux": "UbuntuLatest32Cores128G"
        }
